@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@100;400;700&family=Poppins:wght@100;300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,700&family=Rubik:ital,wght@0,300;0,700;1,400&family=Ubuntu:ital,wght@0,300;0,700;1,400&display=swap');

/* uso de fonts: 
font-family: 'Abril Fatface', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

:root {
    --white: #FFF;
    --black: rgb(18, 18, 20);
    --red: rgba(224, 60, 10, 0.911);
    --green: #006400;
}


/* classes gerais */