@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@100;400;700&family=Montserrat:wght@100;300;400;500;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,700&family=Rubik:ital,wght@0,300;0,700;1,400&family=Ubuntu:ital,wght@0,300;0,700;1,400&display=swap');

/* uso de fonts: 
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

:root {
    --primary-color: #FF6380;
    --white-color: #fff;
    --cyan-color: #665F5E;
    --solid-border: #ccc;
    --slate-grey: #708090;
    --red: rgba(224, 60, 10, 0.911);
    --green: #006400;
}


/* classes gerais */