 /*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
 
 @import './breakpoint';
 #login {
     padding-top: 5rem
 }
 
 #login .form-wrap {
     width: 30%;
     margin: 0 auto;
     @include small {
         padding: 0 2rem;
         width: 90%;
         h1 {
             font-size: 6rem;
         }
         .form-control::placeholder {
             font-size: 6rem;
         }
         .btn {
             line-height: 15rem;
             font-size: 11rem;
             // border: 3px solid red;
         }
         .form-group {
             // border: 3px solid rgb(47, 0, 255);
             height: 14rem;
             input {
                 font-size: 9.5rem;
                 border: 2px solid rgba(0, 0, 0, 0.486);
                 margin: 6rem 0;
             }
         }
         label.sr-only {
             font-size: 12rem;
             border: 3px solid rgba(255, 8, 0, 0.938);
         }
     }
 }
 
 #login h1 {
     color: #FF6380;
     font-size: 1.8rem;
     text-align: center;
     font-weight: bold;
     padding-bottom: 2rem;
     @include breakpoint(AsusZenfone5) {
         font-size: 3.8rem
     }
 }
 
 #login .form-group {
     margin-bottom: 2.5rem;
 }
 
 #login .checkbox {
     margin-bottom: 2rem;
     position: relative;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -o-user-select: none;
     user-select: none;
 }
 
 #login .checkbox.show:before {
     content: '\e013';
     color: #1fa67b;
     font-size: 1.7rem;
     margin: 0.1rem 0 0 0.3rem;
     position: absolute;
     pointer-events: none;
     font-family: 'Glyphicons Halflings';
 }
 
 #login .checkbox .character-checkbox {
     width: 2.5rem;
     height: 2.5rem;
     cursor: pointer;
     border-radius: 0.3rem;
     border: 0.1rem solid #ccc;
     vertical-align: middle;
     display: inline-block;
 }
 
 #login .checkbox .label {
     color: #6d6d6d;
     font-size: 10.3rem;
     font-weight: normal;
 }
 
 #login .btn.btn-custom {
     font-size: 1.4rem;
     margin-bottom: 2rem;
 }
 
 #login .forget {
     font-size: 1.5rem;
     text-align: center;
     display: block;
     @include breakpoint(AsusZenfone5) {
         font-size: 5rem;
     }
 }
 /*    --------------------------------------------------
        :: Inputs & Buttons
        -------------------------------------------------- */
 
 .form-control {
     color: #212121;
     line-height: 3rem;
     font-size: 2rem;
     @include breakpoint(AsusZenfone5) {
         line-height: 8rem;
         font-size: 5.2rem;
     }
 }
 
 .btn-custom {
     color: #fff;
     background-color: #FF6380;
 }
 
 .btn-custom:hover,
 .btn-custom:focus {
     color: #fff;
 }
 /*    --------------------------------------------------
        :: Footer
        -------------------------------------------------- */
 
 #footer {
     color: #6d6d6d;
     font-size: 1.2rem;
     text-align: center;
     @include breakpoint(AsusZenfone5) {
         font-size: 1.9rem;
     }
 }
 
 #footer p {
     margin-bottom: 0;
 }
 
 #footer a {
     color: inherit;
 }